# Xcode
DerivedData/
*.xcuserstate
*.xcworkspace
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

# Swift Package Manager
/.build/
Packages/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# App files
*.ipa
*.app.dSYM.zip
*.app.dSYM

# Certificates
*.cer
*.crt
*.pem

# Provisioning Profiles
*.mobileprovision

# Other
.DS_Store
